.swe_mun {
    fill: rgb(0, 75, 151);
}

.swe_mun:hover {
    stroke: #fff;
    stroke-width: .7px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.legend {
    font-size: 12px;
}

.d3-map-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    line-height: 10%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0px;
}

.d3-map-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: relative;
    text-align: center;
}